.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.not-found-text {
  background-color: rgba(0, 0, 0, 0.671);
  color: white;
  border: 1px solid goldenrod;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px 40px;
}
.not-found-text h1 {
  font-size: 300px;
}
.not-found-text p {
  font-size: 80px;
}
