.section-contact {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: -10px;
  margin-top: 30px;
}

@media (max-width: 1200px) {
  .section-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 32px;
  }
}

/* ALERT MESSAGE */
.alert-success {
  margin-left: 10%;
  margin-top: 30px;
  border: 1px solid black;
  position: absolute;
  z-index: 1;
  width: 40%;
}

@media (max-width: 1200px) {
  .alert-success {
    margin: 10% 10% 0;
    width: 80%;
    /* height: 14%; */
    padding:0;
  }
    .alert-success h4{
    font-size: 16px;
  }
    .alert-success h5{
    font-size: 15px;
  }
}

/* MESSAGE FORM */

.left-side {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-top: 5px;
  background-color: rgba(255, 255, 255, 0.884);
  border: 1px solid black;
  width: 40%;
}

.left-side h3 {
  color: goldenrod;
  font-family: parisienne;
  font-size: 50px;
  text-align: center;
  user-select: none;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.contact-form div {
  display: flex;
}

.contact-form div > input {
  display: flex;
  width: 100%;
}

.contact-form input,
textarea {
  margin: 5px 15px;
  padding: 0px 5px;
  width: 93%;
  font-size: 15px;
}

.message {
  height: 100px;
}

.contact-form button {
  margin: 8px 15px 10px;
  padding: 4px 20px;
  background-color: white;
  border: 1px solid goldenrod;
  color: goldenrod;
  font-size: 16px;
}

.contact-form button:hover {
  background-color: rgba(218, 165, 32, 0.849);
  color: white;
  border: 1px solid goldenrod;
}

@media (max-width: 1200px) {
  /* MESSAGE FORM */
  .left-side {
    padding-top: 5px;
    width: 90%;
    margin-top: 0;
    background-color: rgba(255, 255, 255, 0.884);
    border: none;
  }

  .left-side h3 {
    font-size: 40px;
  }

  .contact-form input,
  textarea {
    padding: 2px 8px;
    font-size: 12px;
    margin: 4px 10px;
  }

  .message {
    height: 100px;
  }

  .contact-form button {
    margin: 5px 0 8px;
    padding: 8px 20px;
    font-size: 13px;
    background-color: white;
    border: 1px solid goldenrod;
    color: goldenrod;
  }

  .contact-form button:hover {
     background-color: rgba(218, 165, 32, 0.849);
    color: white;
    border: 1px solid goldenrod;
  }
}

/* CONTACT INFO */

.right-side {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.856);
  color: white;
  padding: 15px 30px 5px;
  width: 30%;
}

.right-side h3 {
  font-family: parisienne;
  font-size: 50px;
  text-align: center;
  color: white;
}

.info-text {
  font-size: 15px;
}

.each-item-contact {
  display: flex;
  font-size: 15px;
}

@media (max-width: 1200px) {
  /* CONTACT INFO */
  .right-side {
    padding: 10px 15px;
    width: 90%;
    margin-top: 30px;
  }

  .right-side h3 {
    font-size: 40px;
  }

  .info-text {
    font-size: 12px;
  }
  .each-item-contact {
    display: flex;
    font-size: 12px;
  }
}
