.background-video {
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  padding: none;
  position: absolute;
  object-fit: cover;
}

.background-img-mobile {
  position: absolute;
  visibility: hidden;
}

@media (max-width: 1200px) {
  .background-video {
    position: absolute;
    visibility: hidden;
  }

  .background-img-mobile {
    position: relative;
    visibility: visible;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    padding: none;
    position: absolute;
    object-fit: cover;
  }
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(22, 22, 22, 0.541);
  padding: 40px 50px 20px;
  margin-top: -20px;
}

.name {
  font-size: 80px;
  font-family: raleway;
  color: goldenrod;
  margin-top: 20px;
  user-select: none;
}

.img {
  width: 250px;
}

.msg {
  font-size: 26px;
  color: black;
  margin: 20px 0 0;
  font-family: raleway;
  user-select: none;
  position: relative;
}

.msg-mobile {
  visibility: hidden;
  position: absolute;
}

@media (max-width: 1200px) {
  #presentation {
    width: 80%;
    height: 300px;
    background-color: rgba(22, 22, 22, 0.541);
    padding: 40px 0 10px;
    margin-top: 10%;
  }

  .img {
    width: 250px;
  }

  .name {
    font-size: 40px;
    font-family: raleway;
    color: goldenrod;
    user-select: none;
  }

  .msg {
    visibility: hidden;
    position: absolute;
  }
  .msg-mobile {
    visibility: visible;
    position: relative;
    font-size: 16px;
    color: black;
    margin-top: 20%;
    margin-bottom: 2%;
    text-align: center;
    user-select: none;
  }
}
