.background-video {
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  padding: none;
  position: absolute;
  object-fit: cover;
}

.background-img-mobile {
  position: absolute;
  visibility: hidden;
}

@media (max-width: 1200px) {
  .background-video {
    position: absolute;
    visibility: hidden;
  }

  .background-img-mobile {
    position: relative;
    visibility: visible;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    padding: none;
    position: absolute;
    object-fit: cover;
  }
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2% 0;  
}

#presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(22, 22, 22, 0.699);
  padding: 40px 60px 20px;
}

.name {
  font-size: 60px;
  font-family: raleway;
  color: goldenrod;
  margin-top: 20px;
  user-select: none;
}

.img {
  width: 35%;
}

.msg h1{
  font-size: 30px;
  color: white;
  user-select: none;
  position: relative;
}

.hr{
  color: white;
  height: 5px;
  margin-bottom: 20px;
}

.msg-mobile {
  visibility: hidden;
  position: absolute;
}

@media (max-width: 1200px) {
  #presentation {
    background-color: rgba(22, 22, 22, 0.541);
    padding: 40px 20px 20px;
    margin: 5% 0 50px;
  }

  .img {
    width: 250px;
  }

  .name {
    font-size: 40px;
    font-family: raleway;
    color: goldenrod;
    user-select: none;
    
  }

  .msg {
    visibility: hidden;
    position: absolute;
  }

  .msg-mobile {
    visibility: visible;
    position: relative;
    font-size: 16px;
    color: white;
    text-align: center;
    user-select: none;
    margin: 0;
  }
}
