/* NAVBAR FOR THE WEB */
.navbar-web {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2%;
  position: relative;
}

.logo-home {
  margin: 30px 0 20px 140px;
}

/* PAGES */
.navbar-right-side {
  display: flex;
  align-items: center;
  border: 1px solid black;
  user-select: none;
  margin-right: -10px;
  background-color: rgba(22, 22, 22, 0.541);
}

.butons {
  padding: 2px 0px 2px 20px;
}

.butons a {
  width: 100%;
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 8px 13px;
}

.butons a:hover,
.nabvar-links a:hover {
  background-color: rgba(53, 53, 53, 0.945);
  color: white;
}

.nabvar-links {
  margin: 5px 30px 5px 0;
}

.nabvar-links a {
  margin: 0 0 0 20px;
  padding: 10px;
}

.navbar-mobile {
  visibility: hidden;
  position: absolute;
}

/* NAVBAR FOR MOBILE DEVICES */
@media (max-width: 1024px) {
  .navbar-web {
    visibility: hidden;
    position: absolute;
  }

  .navbar-mobile {
    visibility: visible;
    position: relative;
  }

  .logo-home {
    width: 60px;
    margin: 10px 0 0 20px;
  }
  /* MENU */
  .mr-auto {
    border: 2px solid goldenrod;
    background-color: rgba(255, 255, 255, 0.801);
    margin-right: 10px;
  }

  .mr-auto:active {
    border: 3px solid goldenrod;
  }

  .mr-auto2 {
    border: 1px solid rgba(0, 0, 0, 0.185);
    background-color: rgba(255, 255, 255, 0.911);
    margin: 8px 10px 0 50%;
    text-align: center;
    color: black;
    font-weight: bold;
  }

  .mr-auto2:active {
    background-color: rgba(221, 221, 221, 0.911);
  }

  /* SOCIAL MEDIA */
  .nabvar-links-mobile {
    display: flex;
    align-items: center;
    margin-right: -28%;
  }
  .nabvar-links-mobile a {
    padding-right: 5px;
  }
}
